<footer>
    <br>
    <br>


    <div class="middle font white">
        <ul>
            <li class="footer-length-long">
                <h1>Bondi Kitchen</h1>
            </li>
            <li class="footer-length-none">
                <img src="/images/facebook_circle-64.png" alt="" class="image-logo">
            </li>
            <li class="footer-length-none">
                <img src="/images/twitter_circle_white-64.png" alt="" class="image-logo">
            </li>
        </ul>
        <ul class="footer">
            <li class="footer">
                <a href="" class="font footer padding-none">Home</a>
            </li>
            <span>|</span>
            <li class="footer">
                <a href="" class="font footer padding-none">Food</a>
            </li>
            <span>|</span>
            <li class="footer">
                <a href="" class="font footer padding-none">Drinks</a>
            </li>
            <span>|</span>
            <li class="footer">
                <a href="" class="font footer padding-none">Events</a>
            </li>
            <span>|</span>
            <li class="footer">
                <a href="" class="font footer padding-none">Contact Us</a>
            </li>
        </ul>

    <div class="text-w80">
        <br>
        <hr>
        <br>
        <br>
        <ul class="middle">
            <li class="top w-225">
                <h4 class="text text-left white">Address</h4>
                <br>
                <p class="font text-left white">240 Murriverie Corner</p>
                <p class="font text-left white">North Bondi 2026</p>
                <br>
            </li>

            <li class="top w-225">
                <h4 class="text text-left white">Opening Hours</h4>
                <br>
                <p class="font text-left white">Saturday 7am to 12am</p>
                <p class="font text-left white">Sunday 9am to 10pm</p>
                <p class="font text-left white">Monday Closed</p>
                <p class="font text-left white">Tues-Thurs 8am to 10pm</p>
            </li>
            <li class="top w-225">
                <h4 class="text text-left white">Email</h4>
                <br>
                <p class="font text-left white">info@bondikitchen.com</p>
                <br>
            </li>
            <li class="top w-225">
                <h4 class="text text-left white">Phone</h4>
                <br>
                <p class="font text-left white">(02) 9355 5555</p>
                <br>
            </li>

        </ul>
    <div class="middle font white">
        <br>
        <hr>
        <br>
        <p>Website designed by Steve Gibbs for educational purposes only.  The business is fictitious. </p>
    </div>


    </div>

</footer>