<footer>
    <h4>Bondi Kitchen</h4>
    <div class="middle font">
        <ul class="footer">
            <li class="footer">
                <a href="" class="footer">Home</a>
            </li>
            <span>|</span>
            <li class="footer">
                <a href="" class="footer">Food</a>
            </li>
            <span>|</span>
            <li class="footer">
                <a href="" class="footer">Drinks</a>
            </li>
            <span>|</span>
            <li class="footer">
                <a href="" class="footer">Events</a>
            </li>
            <span>|</span>
            <li class="footer">
                <a href="" class="footer">Contact Us</a>
            </li>
        </ul>
    </div>
    <div class="text-w60">
        <hr>

    </div>

</footer>