#nav-icon {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 40px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    display: none;
    float: left;
}

#nav-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
    top: 0px;
}

#nav-icon span:nth-child(2) {
    top: 12px;
}

#nav-icon span:nth-child(3) {
    top: 24px;
}

#nav-icon.open span:nth-child(1) {
    top: 12px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#nav-icon.open span:nth-child(3) {
    top: 12px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

ul {
    padding: 0;
    margin: 0;
}

ul.nav{
    padding: 0;
    list-style: none;
    font-family: Futura;
    font-size: 24px;
    margin: 0 10%;

}
ul li{
    display: inline-block;
    position: relative;
    width: 200px;
    line-height: 21px;
    text-align: center;
}
ul li a{
    display: block;
    padding: 8px 25px;
    color: white;
    text-decoration: none;
}
ul li a:hover{
    color: #fff;
    background: #939393;
}
ul li ul.dropdown{
    width: 200px;
    padding: 0;
    margin: 0 auto;
    background: black;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}
ul li:hover ul.dropdown{
    display: block;	/* Display the dropdown */
}
ul li ul.dropdown li{
    display: block;
    width: 200px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

.main-title {
    font-family: "Arno Pro";
    color: white;
    text-align: center;
    margin: 5% 0;
}

.top {
    vertical-align: top;
}

.bottom {
    vertical-align: bottom;
}

.text {
    font-size: 24px;
    color: darkslategray;
    text-align: center;
    font-family: Futura;

}
.text-middle{
    margin: 0 20%;
}

.font {
    font-family: Futura;
}

.white {
    color: white;
}

.slate {
    color: darkslategray;
}

.text-left {
    text-align: justify;
}

.w-250 {
    width: 250px;
}

.h-100 {
    height: 100px;
}

.text-w60 {
    margin: 0 20%;
}
.text-w80 {
    margin: 0 10%;
}

.margin-none {
    margin: 0;
}

.main-description{
    margin-bottom: 5%;
}

.gap {
    margin-bottom: 5%;
}

.pad-20{
    padding: 20px;
}

li.pad-20 {
    height: 250px;
}
.image-small {
    height: 200px;
    width: 200px;
}


.middle {
    text-align: center;
}

.button-round {
 font-size: 18px;
    color: white;
    border: solid 2px;
    border-radius: 25px;
    padding: 20px;
    text-decoration: none;
}

.button-round:hover {
    color: black;
    background-color: white;
}

/*start parallax*/

.parallax {
    background: url("images/table_960_720.jpg") fixed;
    position: relative;

}

.parallax-inner {
    padding-top: 20%;
    padding-bottom: 10%;
}

.parallax-second {
    background: url("images/sardines_960_720.jpg") fixed;
    position: relative;

}

.parallax-inner-second {
    padding-top: 20%;
    padding-bottom: 10%;
}


/*end parallax*/

@media only screen and (max-width: 1024px) {

    .parallax {
        background-size: cover;
        }

    .parallax-second{
        background-size: cover;
    }

    ul li {
        width: 125px;
    }

    ul li ul.dropdown{
        width: 125px;
    }

    ul li ul.dropdown li{
        width: 125px;
    }

    a {
        font-size: 20px;
    }

    .image-small {
        width: 140px;
        height: 140px;
    }

    li.pad-20 {
        padding: 10px;
    }

    .w-250 {
        width: 175px;
    }


    }


@media only screen and (max-width: 768px) {

    ul.nav li {
        display: none;
    }

    ul li ul.dropdown{
        width: 125px;
        margin-left: 125px;
        margin-top: -38px;
        padding: 0;
        background: black;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }

    ul.nav.responsive li {
        display: block;
        text-align: left;
    }
    ul li a:hover{
        color: #fff;
        background: #939393;
    }

    #nav-icon {
       display: inline-block;
        margin-left: 10px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    .text, .font {
        font-size: 14px;
    }
    .image-small {
        width: 120px;
        height: 120px;
    }

    li.pad-20 {
        padding: 0;
        margin: 0 auto;
        height: 160px;
    }
    .w-250 {
        width: 175px;
    }

    .gap {
        margin-bottom: 10%;
    }
}

@media only screen and (max-width: 414px) {
    .image-small {
        width: 100px;
        height: 100px;
    }

    .gap {
        margin-bottom: 15%;
    }
    li.pad-20 {
        padding: 0;
        margin: 0 auto;
        height: auto;
    }
}

