ul.nav{
    padding: 0;
    list-style: none;
    font-family: Futura;
    font-size: 24px;
    margin: 0 10%;

}
ul li{
    display: inline-block;
    position: relative;
    width: 200px;
    line-height: 21px;
    text-align: center;
}
ul li a{
    display: block;
    padding: 8px 25px;
    color: white;
    text-decoration: none;
}
ul li a:hover{
    color: #fff;
    background: #939393;
}
ul li ul.dropdown{
    width: 200px;
    padding: 0;
    margin: 0 auto;
    background: black;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}
ul li:hover ul.dropdown{
    display: block;	/* Display the dropdown */
}
ul li ul.dropdown li{
    display: block;
}

.icon {
    display: none;
    float: left;
    margin-left: -10%;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

.main-title {
    font-family: "Arno Pro";
    color: white;
    text-align: center;
    margin: 5% 0;
}

.top {
    vertical-align: top;
}

.bottom {
    vertical-align: bottom;
}

.text {
    font-size: 24px;
    color: darkslategray;
    text-align: center;
    font-family: Futura;

}
.text-middle{
    margin: 0 20%;
}

.font {
    font-family: Futura;
}

.white {
    color: white;
}

.slate {
    color: darkslategray;
}

.text-left {
    text-align: justify;
}

.w-250 {
    width: 250px;
}

.h-100 {
    height: 100px;
}

.text-w60 {
    margin: 0 20%;
}
.text-w80 {
    margin: 0 10%;
    height: auto;
}

.margin-none {
    margin: 0;
}

.main-description{
    margin-bottom: 5%;
}

.gap {
    margin-bottom: 5%;
}

.pad-20{
    padding: 20px;
}

ul.middle {
    height: 250px;
}

li.pad-20 {
    height: 250px;
}
.image-small {
    height: 200px;
    width: 200px;
}


.middle {
    text-align: center;
}

.button-round {
 font-size: 18px;
    color: white;
    border: solid 2px;
    border-radius: 25px;
    padding: 20px;
    text-decoration: none;
}

.button-round:hover {
    color: black;
    background-color: white;
}

/*start parallax*/

.parallax {
    background: url("images/table_960_720.jpg") fixed;
    position: relative;

}

.parallax-inner {
    padding-top: 20%;
    padding-bottom: 10%;
}

.parallax-second {
    background: url("images/food.png") fixed;
    position: relative;

}

.parallax-inner-second {
    padding-top: 20%;
    padding-bottom: 10%;
}


/*end parallax*/

@media only screen and (max-width: 1024px) {

    .parallax {
        background-size: cover;
        }

    ul li {
        width: 150px;
    }

    a {
        font-size: 20px;
    }

    .image-small {
        width: 140px;
        height: 140px;
    }

    li.pad-20 {
        padding: 10px;
    }

    .w-250 {
        width: 175px;
    }

    ul.middle {
        height: 200px;
    }

    }


@media only screen and (max-width: 768px) {

    ul.nav li {
        display: none;

    }

    ul.nav li.icon {
        display: inline-block;
    }

    ul.nav.responsive li {
        display: block;
        text-align: left;
    }

    ul.dropdown li {
    margin-left: 80px;
    }

    .text-w80 {
        margin: 0 5%;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    .text {
        font-size: 16px;
    }
    .image-small {
        width: 120px;
        height: 120px;
    }

    li.pad-20 {
        padding: 0;
        margin: 0 auto;
        height: 160px;
    }
    .w-250 {
        width: 175px;
    }

    li.icon.responsive:after {
        content: "X";
    }

}