
<body>
<section class="parallax beer">
    <br>
    {{> header}}



    <br>
    <h1 class="main-title white">Beer List</h1>
    <h4 class="text middle white">Tap, Artisan and Craft - Local and Imported</h4>
    <div class="parallax-inner">

    </div>
</section>

<div class="gap"></div>
<section class="text-w80">
    <h2 class="main-title slate">Tap</h2>

    <ul class="middle top col-3">
        <li class="pad-30sides10height top w-250">

            <p class="font h-50">+Bondi Lager</p>
            <p class="h-100">A fresh and light summer lager brewed in-house</p>
            <p>8 schooner</p>
        </li>
        <li class="pad-30sides10height top w-250">

            <p class="font h-50">+Ben Buckler Bitter</p>
            <p class="h-100">A malty and chewy bitter brewed in-house</p>
            <p>8 schooner</p>
        </li>
    </ul>

</section>

<section class="text-w80">
    <h2 class="main-title slate">Craft</h2>

    <ul class="middle top">
        <li class="pad-30sides10height top w-250">

            <p class="font h-50">+Montepelli Malt</p>
            <p class="h-100">A craft malt lager brewed in the Kangaroo Valley</p>
            <p>9 bottle (345ml)</p>
        </li>
        <li class="pad-30sides10height top w-250">

            <p class="font h-50">+Kingsmans Lager</p>
            <p class="h-100">A Northern England craft lager with citrus notes</p>
            <p>10 bottle (375ml)</p>
        </li>
        <li class="pad-30sides10height top w-250">

            <p class="font h-50">+The Sleeping Stout</p>
            <p class="h-100">A dark and hoppy stout from Newcastle, NSW</p>
            <p>10 bottle (345ml)</p>
        </li>
    </ul>

</section>

<section class="text-w80">
    <h2 class="main-title slate">Artisan</h2>

    <ul class="middle top">
        <li class="pad-30sides10height top w-250">

            <p class="font h-50">+Hoekwork Wheat Lager</p>
            <p class="h-100">One of Belgium's Best - a refined wheat lager</p>
            <p>16 bottle (500ml)</p>
        </li>
        <li class="pad-30sides10height top w-250">

            <p class="font h-50">Hindeworst Trappist Ale</p>
            <p class="h-100">Subject to a limited run, this is a sought after specialty ale</p>
            <p>16 bottle (500ml)</p>
        </li>
    </ul>



</section>