
<body>
<section class="parallax parallax-secondary-page breakfast">
    <br>
    {{> header}}


    <br>
    <h1 class="main-title white">Breakfast Menu</h1>
    <h4 class="text middle white">Served from 8am until 12pm</h4>
    <div class="parallax-inner">

    </div>
</section>

<div class="gap"></div>
<section class="text-w80">
    <h2 class="main-title slate">Small</h2>

    <ul class="middle top col-3">
        <li class="pad-30sides10height top w-250">

            <p class="font h-50">+Sourdough Toast with Avocado</p>
            <p class="h-100">Two slices of toasted artisan sourdough with half a smashed avocado</p>
            <p>8</p>
        </li>
        <li class="pad-30sides10height top w-250">

            <p class="font h-50">+Bircher Muesli</p>
            <p class="h-100">Homemade bircher muesli with nuts, apricot and raisins marinated in homemade apple juice</p>
            <p>12</p>
        </li>
        <li class="pad-30sides10height top w-250">

            <p class="font h-50">+Homemade Granola</p>
            <p class="h-100">Lightly toasted oats, bran, almonds with honey and summer berries</p>
            <p>12</p>
        </li>
    </ul>

</section>

<section class="text-w80">
    <h2 class="main-title slate">Large</h2>

    <ul class="middle top">
        <li class="pad-30sides10height top w-250">

            <p class="font h-50">+Farmer's Breakfast</p>
            <p class="h-100">Streaky bacon, two poached eggs, homemade beans, chipolata sausage, mushrooms and two hash browns</p>
            <p>20</p>
        </li>
        <li class="pad-30sides10height top w-250">

            <p class="font h-50">+Corn Fritters with avocado, bacon and mushrooms</p>
            <p class="h-100">Two corn fritters with spinach and sides of avocado, bacon and mushroom</p>
            <p>18</p>
        </li>
        <li class="pad-30sides10height top w-250">

            <p class="font h-50">+Ricotta pancakes with berries and maple syrup</p>
            <p class="h-100">A stack of three ricotta pancakes, fresh cream and berries and jar of maple syrup</p>
            <p>32</p>
        </li>
    </ul>

</section>

<section class="text-w80">
    <h2 class="main-title slate">Smoothies and Coffee</h2>

    <ul class="middle top">
        <li class="pad-30sides10height top w-250">

            <p class="font h-50">+Berry Good Smoothie</p>
            <p class="h-100">Raspberries, blueberries and strawberries mixed with greek yoghurt</p>
            <p>8</p>
        </li>
        <li class="pad-30sides10height top w-250">

            <p class="font h-50">+Mango, orange and banana Smoothie</p>
            <p class="h-100">3 oranges, 1 mango and 1 banana mixed with greek yoghurt</p>
            <p>8</p>
        </li>
        <li class="pad-30sides10height top w-250">

            <p class="font h-50">+Coffee</p>
            <p class="h-100">Choice of long black, cappucino, flat white, espresso - all your favourites are here</p>
            <p>4</p>
        </li>
    </ul>



</section>

