<!DOCTYPE html>
<html>
<head>

</head>
<body>
<section class="parallax contact">
    <br>
    {{> header}}

    <br>
    <h1 class="main-title white">Contact Us at Bondi Kitchen</h1>
    <h4 class="text middle white">A Great Night Out</h4>
    <div class="parallax-inner">

    </div>
</section>
<br>
<br>



<ul class="text-w80 middle">
    <li class="col-2 w-500 text-left font pad-30">
        <h2>Address</h2>
        <p>We are located at 240 Murriverie Corner.</p>
        <p>In North Bondi, a short stroll from the golden sands of Bondi Beach.</p>
        <p>Primarily local based, we love to meet new customers.</p>

        <div id="map"></div>
    </li>
    <li class="col-2 w-500 text-left font pad-30 top">
        <h2>Phone</h2>
        <p>(02) 9355 5555</p>
        <br>
        <h2>Email</h2>
        <p>info@bondikitchen.com</p>
    </li>
</ul>

<script src="/javascripts/location.js" charset="utf-8"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoFWYnTBTGFJM5ES-CLNIhs_94V4wgRmY&callback=initMap"
        async defer></script>

</body>
</html>