<body xmlns="http://www.w3.org/1999/html">
<section class="parallax dinner">
    <br>
    {{> header}}



    <br>
    <h1 class="main-title white">Private Events</h1>
    <h4 class="text middle white">Book Online below or Call</h4>
    <div class="parallax-inner">

    </div>
</section>

<div class="gap">

</div>
<ul class="text-w80 middle">
    <li class="col-2 text-left font pad-30">
        <h2>Room Hire</h2>
        <br>
        <p>Small Dining Room - the small dining room is located at the front of the restaurant and seats a maximum of 40 people.</p>
        <p>The Main Dining Room - is located at the rear of the restaurant can seat a maximum of 80 people.  Each room can be blocked and
            made accessible only to your party as the restaurant has multiple entrances and washroom facilities. </p>
        <br>
        <h2>Cost</h2>
        <br>
        <p>Cost is subject to negotiation and will depend on the day of the week and seasonality.  Please contact us with your requirements
            to receive a quote.  Full banquet menus are available or alternatively drinks with shared plates or a buffet can be prepared.
            We also have in-house djs or local musicians that are available (with notice) at our venue.</p>
        <br>
        <h2>Cancellations</h2>
        <br>
        <p>Owing to the long lead in-time to cancel suppliers and staff, two weeks notice of cancellation is required for the booking deposit
            to be refunded.  The booking deposit is 30% of the estimated cost of the event.  </p>
    </li>
    <li class="col-2 text-left font pad-30 top">
       <h2>Book Your Event</h2>
        <br>
        <br>

        <form id="myForm">
            <div class="form-group">
                <label for="name">First and Last Name</label>
                <br>
                <input type="text" id="name" name="name" class="form-control">
            </div>
            <br>
            <div class="form-group">
                <label for="email">Email</label>
                <br>
                <input type="text" id="email" name="email" class="form-control">
            </div>
            <br>
            <div class="form-group">
                <label for="phone">Contact Number</label>
                <br>
                <input type="text" id="phone" name="phone" class="form-control">
            </div>
            <br>
            <div class="form-group">
                <label for="date">Date for Event</label>
                <br>
                <input type="date" id="date" name="date" class="form-control">
                <br>
            </div>
            <br>
            <div class="form-group">
                <label for="people">Number of People</label>
                <br>
                <input type="text" id="people" name="people" class="form-control">
                <br>
            </div>
            <br>

                <input type="submit" class="text button-round">
        </form>
    </li>
</ul>



<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2 class="middle">Apologies from Bondi Kitchen</h2>
        </div>
        <div class="modal-body font middle">
            <p>We cannot accept your enquiry.</p>
            <p>This is a test website only and the business is not in operation</p>
        </div>
        <div class="modal-footer">
            <h3 class="middle">This website is fictitious</h3>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.js"   integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="   crossorigin="anonymous"></script>
<script src="/javascripts/form.js"></script>