<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Bondi Kitchen</title>


</head>
<body>
<section class="parallax">
    <br>
    <div class="folder">
        <div class="middle">
            <div id="nav-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul class="nav" id="myNavBar">
                <li><a href="#">Home</a></li>
                <li>
                    <a href="#">Food</a>
                    <ul class="dropdown">
                        <li><a href="#">Breakfast</a></li>
                        <li><a href="/food" alt="Food">Lunch</a></li>
                        <li><a href="#">Dinner</a></li>
                    </ul>
                <li>
                    <a href="#">Drinks</a>
                    <ul class="dropdown">
                        <li><a href="#">Wine</a></li>
                        <li><a href="#">Beer</a></li>
                        <li><a href="#">Other</a></li>
                    </ul>
                <li>
                    <a href="#">Events</a>
                    <ul class="dropdown">
                        <li><a href="#">Thursday Music</a></li>
                        <li><a href="#">Private Hire</a></li>
                        <li><a href="#">24 November Bash</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Contact Us</a>
                    <ul class="dropdown">
                        <li><a href="#">Item 1</a></li>
                        <li><a href="#">Item 2</a></li>
                        <li><a href="#">Item 3</a></li>
                    </ul>
                </li>

            </ul>

        </div>

    </div>



    <br>
    <h1 class="main-title white">Lunch Menu</h1>
    <h4 class="text middle white">Served from 12pm until 3pm</h4>
    <div class="parallax-inner">

    </div>
</section>

<div class="gap"></div>
<section class="text-w80">
    <h2 class="main-title slate">Entrees</h2>

    <ul class="middle top col-3">
        <li class="pad-30 top w-250">

            <p class="font h-50">+Buffalo Mozarella, Tomato, Basil</p>
            <p class="h-100">Fresh Mozarella lightly drizzled with fresh press virgin olive oil, oxheart tomatoes and fresh basil from our herb garden</p>
            <p>16</p>
        </li>
        <li class="pad-30 top w-250">

            <p class="font h-50">+Salade Nicoise</p>
            <p class="h-100">Gem lettuce, rocket, tuna, heirloom tomatoes and heart of palm</p>
            <p>16</p>
        </li>
        <li class="pad-30 top w-250">

            <p class="font h-50">+Buffalo Mozarella, Tomato, Basil</p>
            <p class="h-100">Fresh Mozarella lightly drizzled with fresh press virgin olive oil, oxheart tomatoes and fresh basil from our herb garden</p>
            <p>16</p>
        </li>
        <li class="pad-30 top w-250">
            <p class="font h-50">+3 Courgettes filled with Goat's Cheese</p>
            <p class="h-100">Zucchini flowers filled with 12mth aged goat's cheese from Mirabella, our local dairy supplier</p>
            <p>18</p>
        </li>
        <li class="pad-30 top w-250">
            <p class="font h-50">+3 Courgettes filled with Goat's Cheese</p>
            <p class="h-100">Zucchini flowers filled with 12mth aged goat's cheese from Mirabella, our local dairy supplier</p>
            <p>18</p>
        </li>
        <li class="pad-30 top w-250">
            <p class="font h-50">+3 Courgettes filled with Goat's Cheese</p>
            <p class="h-100">Zucchini flowers filled with 12mth aged goat's cheese from Mirabella, our local dairy supplier</p>
            <p>18</p>
        </li>
    </ul>

</section>

<section class="text-w80">
    <h2 class="main-title slate">Mains</h2>

    <ul class="middle top">
        <li class="pad-30 top w-250">

            <p class="font h-50">+Seafood Angel Hair Pasta</p>
            <p class="h-100">Handmade angel hair pasta with fresh tomato passata, mussels, shrimps and barramundi lightly tossed with onion and garlic and fresh garden herbs</p>
            <p>28</p>
        </li>
        <li class="pad-30 top w-250">

            <p class="font h-50">+Seared Tuna</p>
            <p class="h-100">Daily Tuna lightly seared on a sweet potato bed with green beans cooked in a butter sauce</p>
            <p>32</p>
        </li>
        <li class="pad-30 top w-250">

            <p class="font h-50">+Sirloin Steak and Fries</p>
            <p class="h-100">300gm Sirloin Steak aged for 180 days served with our special twice fried fries accompanied with a bearnaise or peppercorn sauce</p>
            <p>32</p>
        </li>
    </ul>

    <ul class="middle top">
        <li class="pad-30 top w-250">
            <p class="font h-50">+Classic Fish and Chips</p>
            <p class="h-100">Flathead lightly fried in a beer batter with a serving of twice fried frieds and mushy peas</p>
            <p>26</p>
        </li>
        <li class="pad-30 top w-250">
            <p class="font h-50">+Caesars Salad with grilled chicken (optional)</p>
            <p class="h-100">Iceberg lettuce, fresh tomatoes, croutons, parmesan shavings and grilled chicken is an additional 5</p>
            <p>24 (add 5 for chicken)</p>
        </li>
    </ul>

</section>

<section class="text-w80">
    <h2 class="main-title slate">Dessert</h2>

    <ul class="middle top">
        <li class="pad-30 top w-250">

            <p class="font h-50">+Homemade Tiramisu</p>
            <p class="h-100">The Italian classic - espresso, cream, biscotti base</p>
            <p>14</p>
        </li>
        <li class="pad-30 top w-250">

            <p class="font h-50">+Chocolate Fondant</p>
            <p class="h-100">A flourless melting chocalate "pud"</p>
            <p>14</p>
        </li>
        <li class="pad-30 top w-250">

            <p class="font h-50">+Three Cheese Platter</p>
            <p class="h-100">Comte, Roquefort and Stilton presented with quince, waferbread and grapes</p>
            <p>18</p>
        </li>
    </ul>



</section>


<script src="/javascripts/main.js" charset="utf-8"></script>
<script   src="https://code.jquery.com/jquery-3.2.1.js"   integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="   crossorigin="anonymous"></script>
</body>
</html>