<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Bondi Kitchen</title>


</head>
<body>
<section class="parallax">
    <br>
    <br>
    {{> header}}
    <br>
    <br>
<h1 class="main-title">Bondi Kitchen</h1>

<div class="main-description">
    <p class="text text-middle white">Nestled in the corner of North Bondi, Bondi Kitchen is a refreshing sea breeze of modern Australian Cuisine, utilising foraged food found within a 10km radius.  Organic produce and
        and fresh seafood is sourced on a daily basis to produce a varied and ecletic eating experience. </p>

</div>


    <div class="parallax-inner">

    </div>
</section>

<div class="gap"></div>
<section class="text-w80">
    <h2 class="main-title slate">Bondi Kitchen</h2>
    <br>
    <br>
   <p class="text text-middle">240 Murriverive Corner</p>
    <p class="text text-middle">North Bondi, Sydney</p>
    <br>
    <!--Four Small Images-->
    <ul class="middle">
        <li class="pad-20">
            <img src="../images/steaktwo_960_720.jpg" alt="" class="image-small">
        </li>
        <li class="pad-20">
            <img src="../images/beetroot_960_720.jpg" alt="" class="image-small">
        </li>
        <li class="pad-20">
            <img src="../images/pancake_960_720.jpg" alt="" class="image-small">
        </li>
        <li class="pad-20">
            <img src="../images/dessert_960_720.jpg" alt="" class="image-small">
        </li>
    </ul>
    <br>
    <hr>
<ul class="middle">
    <li class="pad-20 top w-250">
        <h4 class="text text-left margin-none">Email</h4>
        <br>
        <p class="font text-left">info@bondikitchen.com</p>
        <br>
        <h4 class="text text-left margin-none">Phone</h4>
        <br>
        <p class="font text-left">(02) 9355 5555</p>
        <br>
   </li>

    <li class="pad-20 top w-250">
        <h4 class="text text-left margin-none">Opening Hours</h4>
        <br>
        <p class="font text-left">Saturday 7am to 12am</p>
        <p class="font text-left">Sunday 9am to 10pm</p>
        <p class="font text-left">Monday Closed</p>
        <p class="font text-left">Tuesday-Thursday 8am to 10pm</p>
    </li>
</ul>


</section>
<div class="gap"></div>

<section class="parallax-second">

    <br>
    <h1 class="main-title">Bondi Kitchen
        <br>
        <br>
        <div class="middle">
            <a href="#" class="font button-round">Book Now</a>
        </div>



    <div class="parallax-inner-second">

    </div>
</section>
<section class="text-w60">
    <h2 class="main-title slate">Our Story</h2>
    <p class="text">
        Founded in 2008, we are pleased to soon reach our 10th anniversary.
        We are proud to have been one of the founders of the local foraging movement and to introduce
        sustainably sourced produce into a modern dining experience.  Our crew of 10 is very hard working
        and enjoys bringing a slice of Bondi happiness to all customers.  Enjoy!
    </p>
</section>

<section class="text-w80">
    <h2 class="main-title slate">Happy Customers</h2>

    <br>
    <!--Four Small Images-->
    <ul class="middle">
        <li class="pad-20">
            <img src="../images/corner_960_720.jpg" alt="" class="image-small">
        </li>
        <li class="pad-20">
            <img src="../images/tiramisu_960_720.jpg" alt="" class="image-small">
        </li>
        <li class="pad-20">
            <img src="../images/fish_960_720.jpg" alt="" class="image-small">
        </li>
        <li class="pad-20">
            <img src="../images/food.png" alt="" class="image-small">
        </li>
    </ul>

    <hr>

</section>
<section class="text-w60">
    <h2 class="main-title slate">Book Your Function With Us</h2>
    <p class="text">
        With capacity for 120 people over two linked dining areas (one room holds 40 and the main room holds 80), we are the perfect
        location for small or larger functions.  Please provide a minimum of one weeks notice for a weekday or three weeks notice for
        a weekend booking.  We are happy to customise requirements to your needs.
    </p>
    <br>
    <div class="middle">
        <a href="#" class="font button-round inverse">Food Menu</a>
        <a href="#" class="font button-round inverse">Drinks Menu</a>
    </div>
    <br>

</section>


</body>
</html>