
<body>
<section class="parallax">
    <br>
    {{> header}}

    <br>
    <h1 class="main-title white">Lunch Menu</h1>
    <h4 class="text middle white">Served from 12pm until 3pm</h4>
    <div class="parallax-inner">

    </div>
</section>

<div class="gap"></div>
<section class="text-w80">
    <h2 class="main-title slate">Entrees</h2>

    <ul class="middle top col-3">
        <li class="pad-30sides10height top w-250">

            <p class="font h-50">+Buffalo Mozarella, Tomato, Basil</p>
            <p class="h-100">Fresh Mozarella lightly drizzled with fresh press virgin olive oil, oxheart tomatoes and fresh basil from our herb garden</p>
            <p>16</p>
        </li>
        <li class="pad-30sides10height top w-250">

            <p class="font h-50">+Salade Nicoise</p>
            <p class="h-100">Gem lettuce, rocket, tuna, heirloom tomatoes and heart of palm</p>
            <p>16</p>
        </li>
        <li class="pad-30sides10height top w-250">

            <p class="font h-50">+Buffalo Mozarella, Tomato, Basil</p>
            <p class="h-100">Fresh Mozarella lightly drizzled with fresh press virgin olive oil, oxheart tomatoes and fresh basil from our herb garden</p>
            <p>16</p>
        </li>
        <li class="pad-30sides10height top w-250">
            <p class="font h-50">+3 Courgettes filled with Goat's Cheese</p>
            <p class="h-100">Zucchini flowers filled with 12mth aged goat's cheese from Mirabella, our local dairy supplier</p>
            <p>18</p>
        </li>
        <li class="pad-30sides10height top w-250">
            <p class="font h-50">+3 Courgettes filled with Goat's Cheese</p>
            <p class="h-100">Zucchini flowers filled with 12mth aged goat's cheese from Mirabella, our local dairy supplier</p>
            <p>18</p>
        </li>
        <li class="pad-30sides10height top w-250">
            <p class="font h-50">+3 Courgettes filled with Goat's Cheese</p>
            <p class="h-100">Zucchini flowers filled with 12mth aged goat's cheese from Mirabella, our local dairy supplier</p>
            <p>18</p>
        </li>
    </ul>

</section>

<section class="text-w80">
    <h2 class="main-title slate">Mains</h2>

    <ul class="middle top">
        <li class="pad-30sides10height top w-250">

            <p class="font h-50">+Seafood Angel Hair Pasta</p>
            <p class="h-100">Handmade angel hair pasta with fresh tomato passata, mussels, shrimps and barramundi lightly tossed with onion and garlic and fresh garden herbs</p>
            <p>28</p>
        </li>
        <li class="pad-30sides10height top w-250">

            <p class="font h-50">+Seared Tuna</p>
            <p class="h-100">Daily Tuna lightly seared on a sweet potato bed with green beans cooked in a butter sauce</p>
            <p>32</p>
        </li>
        <li class="pad-30sides10height top w-250">

            <p class="font h-50">+Sirloin Steak and Fries</p>
            <p class="h-100">300gm Sirloin Steak aged for 180 days served with our special twice fried fries accompanied with a bearnaise or peppercorn sauce</p>
            <p>32</p>
        </li>
    </ul>

    <ul class="middle top">
        <li class="pad-30sides10height top w-250">
            <p class="font h-50">+Classic Fish and Chips</p>
            <p class="h-100">Flathead lightly fried in a beer batter with a serving of twice fried frieds and mushy peas</p>
            <p>26</p>
        </li>
        <li class="pad-30sides10height top w-250">
            <p class="font h-50">+Caesars Salad with grilled chicken (optional)</p>
            <p class="h-100">Iceberg lettuce, fresh tomatoes, croutons, parmesan shavings and grilled chicken is an additional 5</p>
            <p>24 (add 5 for chicken)</p>
        </li>
    </ul>

</section>

<section class="text-w80">
    <h2 class="main-title slate">Dessert</h2>

    <ul class="middle top">
        <li class="pad-30sides10height top w-250">

            <p class="font h-50">+Homemade Tiramisu</p>
            <p class="h-100">The Italian classic - espresso, cream, biscotti base</p>
            <p>14</p>
        </li>
        <li class="pad-30sides10height top w-250">

            <p class="font h-50">+Chocolate Fondant</p>
            <p class="h-100">A flourless melting chocalate "pud"</p>
            <p>14</p>
        </li>
        <li class="pad-30sides10height top w-250">

            <p class="font h-50">+Three Cheese Platter</p>
            <p class="h-100">Comte, Roquefort and Stilton presented with quince, waferbread and grapes</p>
            <p>18</p>
        </li>
    </ul>



</section>


<script src="/javascripts/main.js" charset="utf-8"></script>
<script   src="https://code.jquery.com/jquery-3.2.1.js"   integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="   crossorigin="anonymous"></script>
</body>
</html>