<body>
<section class="parallax music parallax-secondary-page">
    <br>
    {{> header}}

    <br>
    <h1 class="main-title white">Music on Thursday Nights</h1>
    <h4 class="text middle white">Live Local and International Acts</h4>
    <div class="parallax-inner">

    </div>
</section>

<div class="gap"></div>

<section class="text-w60">
    <h2 class="main-title slate">Live Music</h2>
    <p class="text">
    We are proud to support the local music industry and great acts play every Thursday evening from 7pm until close.
    We also bring in international acts such as Tom The Gun, Electronica Alert and Jimmy Freedom and his Freedom Fighters
    on special occasions.
    </p>
</section>
<div class="middle">
    <img src="../images/concert2.jpg" class="middle image-large">

    <br>
    <br>
    <p class="text-w60 text pad-30">Electronica is a one man show from Germany.  Internationally renowned artist Dieter Gunthard brings a 3 hour session
        of electronica, more mellow beats and reggae influenced keyboard.
    </p>
    <br>
    <br>
    <img src="../images/concert.jpg" class="middle image-large">
    <br>
    <br>
    <p class="text-w60 text pad-30">Jimmy Freedom and his Freedom Fighters always bring a place alight with electric showmanship and upbeat melodies.
        Jimmy is one of Bondi Kitchen's best discoveries and his shows are always sell outs.
    </p>

</div>



