<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Parallax Test</title>
</head>
<body>
<h1>Parallax</h1>
<div class="parallax">
    <img class="parallax__image" src="https://unsplash.it/800/1000?image=369" alt="" />
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dicta nulla accusamus, illo perferendis harum. Inventore et doloribus, sint vitae ea exercitationem reiciendis odio quaerat, a, natus nam rem fugit.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea quia, perferendis asperiores, harum aperiam iste. Reiciendis iusto numquam tenetur ex architecto inventore incidunt at aperiam, eos aut eum, harum eligendi.</p>
<div class="parallax">
    <img class="parallax__image" src="https://unsplash.it/800/1000?image=345" alt="" />
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo ullam consequatur suscipit quisquam odit deleniti officiis corrupti recusandae. Doloribus, harum optio provident. Aliquam consectetur, vitae exercitationem architecto accusamus nesciunt repellat!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quae earum, eligendi vero quibusdam corporis laborum maxime, aperiam quasi ea! Quas pariatur consequatur impedit sunt voluptatum vitae, ducimus harum quisquam.</p>
<div class="parallax">
    <img class="parallax__image" src="https://unsplash.it/800/1000?image=641" alt="" />
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo ullam consequatur suscipit quisquam odit deleniti officiis corrupti recusandae. Doloribus, harum optio provident. Aliquam consectetur, vitae exercitationem architecto accusamus nesciunt repellat!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quae earum, eligendi vero quibusdam corporis laborum maxime, aperiam quasi ea! Quas pariatur consequatur impedit sunt voluptatum vitae, ducimus harum quisquam.</p>

<script src="/javascripts/test.js" charset="utf-8"></script>
</body>
</html>