
<body>
<section class="parallax wine parallax-secondary-page cover">
    <br>
    {{> header}}



    <br>
    <h1 class="main-title white">Wine List</h1>
    <h4 class="text middle white">Sparkling, White and Reds - Local and Imported</h4>
    <div class="parallax-inner">

    </div>
</section>

<div class="gap"></div>
<section class="text-w80">
    <h2 class="main-title slate">Sparkling</h2>

    <ul class="middle top col-3">
        <li class="pad-30sides10height top w-250">

            <p class="font h-50">+Haute de Loire Champagne 2010</p>
            <p class="h-100">A vibrant and fruity champagne with citrus notes</p>
            <p>16 glass / 70 bottle</p>
        </li>
        <li class="pad-30sides10height top w-250">

            <p class="font h-50">+Genevieve Prosecco 2016</p>
            <p class="h-100">A light all rounder from Tuscany in Italy</p>
            <p>12 glass / 54 bottle</p>
        </li>
    </ul>

</section>

<section class="text-w80">
    <h2 class="main-title slate">Whites</h2>

    <ul class="middle top">
        <li class="pad-30sides10height top w-250">

            <p class="font h-50">+Rascal's 2012 Semillon</p>
            <p class="h-100">A Barossa Valley favourite with hints of oak and peach</p>
            <p>12 glass / 48 bottle</p>
        </li>
        <li class="pad-30sides10height top w-250">

            <p class="font h-50">+Penwood 2016 Bin 456</p>
            <p class="h-100">A well rounded chardonnay that was rated 95/100 on Petwood's Wine Recommendations</p>
            <p>14 glass / 58 bottle</p>
        </li>
        <li class="pad-30sides10height top w-250">

            <p class="font h-50">+2008 Sauvignon Blanc Josephine Bin End</p>
            <p class="h-100">A rare and sought after release pairs well with fish and salads</p>
            <p>60 bottle only</p>
        </li>
    </ul>

</section>

<section class="text-w80">
    <h2 class="main-title slate">Reds</h2>

    <ul class="middle top">
        <li class="pad-30sides10height top w-250">

            <p class="font h-50">+Clare Valley 2017 Hunter Cabernet</p>
            <p class="h-100">A heavier and robust red for the serious drinker</p>
            <p>16 glass / 70 bottle</p>
        </li>
        <li class="pad-30sides10height top w-250">

            <p class="font h-50">Russell 2014 Shiraz</p>
            <p class="h-100">Almond, hay and berries are flavours that bite through</p>
            <p>14 glass / 62 bottle</p>
        </li>
        <li class="pad-30sides10height top w-250">

            <p class="font h-50">+Winstone Pitch Vineyard 2016 Shiraz</p>
            <p class="h-100">Well rounded with complexity developing on your palate</p>
            <p>16 glass / 70 bottle</p>
        </li>
    </ul>



</section>