#nav-icon {
    width: 30px;
    height: 20px;
    position: relative;
    margin-left: 20px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    display: none;
    float: left;
}

#nav-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
    top: 0px;
}

#nav-icon span:nth-child(2) {
    top: 12px;
}

#nav-icon span:nth-child(3) {
    top: 24px;
}

#nav-icon.open span:nth-child(1) {
    top: 12px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#nav-icon.open span:nth-child(3) {
    top: 12px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

ul {
    padding: 0;
    margin: 0;
}

ul.nav{
    padding: 0;
    list-style: none;
    font-family: Futura;
    font-size: 24px;
    margin: 0 10%;

}
ul li{
    display: inline-block;
    position: relative;
    width: 200px;
    line-height: 21px;
    text-align: center;
}
ul li a{
    display: block;
    padding: 8px 25px;
    color: white;
    text-decoration: none;
}
ul li a:hover{
    color: #fff;
    background: #939393;
}
ul li ul.dropdown{
    width: 200px;
    padding: 0;
    margin: 0 auto;
    background: black;
    display: none;
    position: absolute;
    z-index: 999;
    left: 0;
}
ul li:hover ul.dropdown{
    display: block;	/* Display the dropdown */
}
ul li ul.dropdown li{
    display: block;
    width: 200px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h4 {
    padding: 0;
    margin: 0 auto;
}

.main-title {
    font-family: "Arno Pro";
    color: white;
    text-align: center;
    margin-top: 5%;
}

.top {
    vertical-align: top;
}

.bottom {
    vertical-align: bottom;
}

.text {
    font-size: 24px;
    color: darkslategray;
    text-align: center;
    font-family: Futura;

}
.text-middle{
    margin: 0 20%;
}

.font {
    font-family: Futura;
}

.white {
    color: white;
}

.slate {
    color: darkslategray;
}

.inverse {
    color: darkslategray !important;
    padding: 10px !important;
    margin: 20px;
}

a.inverse:hover {
    background-color: darkslategray;
    color: white !important;
}

footer {
    background-color: darkslategray;
    margin-top: 30px;
}



.text-left {
    text-align: justify;
}

.w-250 {
    width: 250px;
}

.w-225 {
    width: 225px;
}
.h-100 {
    height: 100px;
    margin: 0 auto;
}

.text-w60 {
    margin: 0 20%;
}

.col-3 {
    margin: 0 13%;
}

.col-2 {
    width: 400px;

}

.w-500 {
    width: 500px;
}

.h-50 {
    height: 50px;
}
.text-w80 {
    margin: 0 10%;
}

ul li.footer {
    padding: 0;
    margin: 0 auto;
    width: auto;

}

.footer-length-long{
    min-width: 400px;
}
.footer-length-none{
    width: auto;
}
.main-description{
    margin-bottom: 5%;
}

.gap {
    margin-bottom: 5%;
}

.pad-30{
    padding: 30px;
}

.pad-30sides10height{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pad-20{
    padding: 20px;
}

.padding-none {
    padding: 0;
}

li.pad-20 {
    height: 250px;
}
.image-small {
    height: 200px;
    width: 200px;
}
.image-logo {
    height: 40px;
    width: 40px;
}

.image-large{
    width: 70vw;
}
.middle {
    text-align: center;
}

.button-round {
    font-size: 18px;
    border: solid 2px;
    border-radius: 25px;
    padding: 20px;
    text-decoration: none;
}

#map{
    height: 500px;
    width: 500px;
}
.button-round:hover {
    color: white;
    background-color: black;
}

.form-control {
    width: 300px;
    line-height: 30px;
}

/*start parallax*/

.parallax {
    background: url("../images/table_960_720.jpg") fixed no-repeat;
    position: relative;

}

.breakfast {
    background: url("../images/pancakes-large.jpg") fixed no-repeat;
    position: relative;

}

.dinner {
    background: url("../images/charcoal_960_720.jpg") fixed no-repeat;
    position: relative;

}

.music {
    background: url("../images/concert3.jpg") fixed no-repeat;
    position: relative;

}

.contact {
    background: url("../images/bar_960_720.jpg") fixed no-repeat;
    position: relative;

}

.wine {
    background: url("../images/barrel_960_720.jpg") fixed no-repeat;
    position: relative;

}
.beer {
    background: url("../images/beer_960_720.jpg") fixed no-repeat;
    position: relative;

}

.parallax-inner {
    padding-top: 20%;
    padding-bottom: 10%;
}

.parallax-second {
    background: url("../images/sardines_960_720.jpg") fixed no-repeat;
    position: relative;

}

.parallax-inner-second {
    padding-top: 20%;
    padding-bottom: 10%;
}



/*end parallax*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 80%; /* Full width */
    height: 80%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: darkslategray;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: darkslategray;
    color: white;
}


@media only screen and (max-width: 1600px) {
    .col-3 {
        margin: 0 8%;
    }
}


    @media only screen and (max-width: 1024px) {

    .parallax {
        background-size: 100vw;
    }


    .parallax-second{
        background-size: 100vw;
    }

    ul li {
        width: 125px;
    }

    ul li ul.dropdown{
        width: 125px;
    }

    ul li ul.dropdown li{
        width: 125px;
    }

    a {
        font-size: 20px;
    }

    .image-small {
        width: 140px;
        height: 140px;
    }

    li.pad-20 {
        padding: 10px;
    }

    .w-250 {
        width: 175px;
    }

    .w-225 {
        width: 175px;
    }

    .col-3 {
        margin: 0 5%;
    }

    .text-w80 {
        margin: 0 5%;
    }

    }


@media only screen and (max-width: 768px) {

    .parallax {
        background-size: 100vw;
    }


    .parallax-second{
        background-size: 100vw;
    }

    ul.nav li {
        display: none;
    }

    ul li ul.dropdown{
        width: 125px;
        margin-left: 125px;
        margin-top: -38px;
        display: none;

    }

    ul.nav.responsive li {
        display: block;
        text-align: left;
    }
    ul li a:hover{
        color: #fff;
        background: #939393;
    }

    #nav-icon {
       display: inline-block;
         }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 30px;
    }

    .text, .font {
        font-size: 14px;
    }
    .image-small {
        width: 120px;
        height: 120px;
    }

    li.pad-20 {
        padding: 0;
        margin: 0 auto;
        height: 160px;
    }
    .w-250 {
        width: 175px;
    }

    .w-225 {
        width: 160px;
    }

    .gap {
        margin-bottom: 10%;
    }
}

@media only screen and (max-width: 414px) {
    .image-small {
        width: 100px;
        height: 100px;
    }

    .gap {
        margin-bottom: 15%;
    }
    li.pad-20 {
        padding: 0;
        margin: 0 auto;
        height: auto;
    }

    .text-w60 {
        margin: 0 10%;
    }
}

